{% extends "layout.html" %}
{% block title %}Main page{% endblock %}
{% block content %}
{% for post in posts.items %}
<article class="media content-section">
    <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
         class="rounded-circle article-img" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('username_post', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%d, %B %Y')}}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if posts.has_prev %}
             <li class="page-item">
                 <a class="btn btn-info mb-4" href="{{ url_for('index', page=posts.prev_num) }}">Prev</a>
            </li>
        {% endif %}
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <li class="page-item active ml-1">
                    <a class="btn btn-secondary mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
                </li>
            {% else %}
                <li class="page-item ml-1">
                    <a class="btn btn-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
                </li>
            {% endif %}
        {% endif %}
        {% endfor %}
         {% if posts.has_next %}
             <li class="page-item ml-1">
                 <a class="btn btn-info mb-4" href="{{ url_for('index', page=posts.next_num) }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}